* {
	box-sizing: border-box;
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	margin: 0;
	text-align: center;
}

button {
	background-color: hotpink;
	border: 1px solid white;
	border-radius: .5rem;
	color: white;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: 3rem;
	padding: .5rem .75rem;
	transition: .3s background-color;
}

button:hover {
	background-color: rgb(253, 57, 155);
}
